@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
}

body{
  height: 100%;
  width: 100%;
  text-align: center;
  background: #F2F2F2;
}

.wrapper{
  display: grid;
  margin: 200px 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .box{
  position: relative;
  width: 350px;
  margin: 0 auto;
  perspective: 1000px;
}

.wrapper .box .front-face{
  background: #FFF; 
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba((0), 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .front-face .icon{
  height: 80px;
}

.box .front-face .icon i{
  font-size: 65px;
}

.box .front-face span,
.box .back-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span{
  background: linear-gradient(-135deg, #C850C0, #4158D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #FFF;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #C850C0, #4158D0);
  transform: translateY(110px) rotateX(-90deg);
  transition: all 0.5s ease;
}

.box .back-face p{
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(-90deg);
}