.nav {
  background: set-text-back($secondary-color);
  display: flex;
  justify-content: space-between;

  &_logo {
    padding: 1rem 3rem;

    &_img {
      height: 8vh;
    }
  }

  &_items {
    padding: 1rem 3rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &_item {
      position: relative;
      padding: 1vh 0;
      width: 7rem;
      height: 7vh;
      line-height: 5vh;
      border-radius: 0.6rem;
      text-align: center;
      cursor: pointer;
      @include transition-ease;

      &:hover a{
        color: set-text-back($primary-color);
      }

      &_link {
        text-transform: uppercase;
        text-decoration: none;
        color: set-text-color($primary-color);
        font-weight: 400;
        @include transition-ease;
      }

      &::before{
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background: $secondary_color;
        left: 0;
        bottom: 0;
      }

      // &::after{
      //   content: '';
      //   width: 100%;
      //   position: absolute;
      //   height: 2px;
      //   background: $secondary_color;
      //   left: 0;
      //   top: 0;
      // }
    }
  }

  &_hamburger {
    display: none;
  }
}