@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
  background: #212121;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.box{
  border-radius: 6px;
  background-color: #3498db;
  color: #FFF;
  padding: 10px 20px;
  font-size: 80px;
  font-weight: 900;
  transform-origin: top left;
  text-align: center;
  animation: hinge 10s ease-in-out;
}

@keyframes hinge{
  10%, 30%, 50%{
    color: palevioletred;
    background: aqua;
    transform: scale(1.1);
  }
  70%, 90%{
    background: palevioletred;
    color: aqua;
    transform: scale(0.9);
  }
  20%, 60%{
    transform: rotate(70deg);
    color: #212121;
  }
  40%, 80%{
    transform: rotate(55deg);
    opacity: 1;
    background: #212121;
    color: #3498db;
  }
  100%{
    transform: translateY(600px);
    opacity: 0;
  }
}