@include media-lg{
  .nav{
    &_logo{
      width: 30%;
    }

    &_items{
      width: 70%;
    }
  }
}

@include media-md{
  .nav{
    &_logo{
      width: 50%;
    }

    &_items{
      overflow: hidden;
      position: absolute;
      height: 90vh;
      width: 100vw;
      top: 4.7rem;
      background: rgba(set-back-color($tertiary-color), 0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(300%);
      @include transition-ease;

      &_item{
        &_link{
          padding: 0 7rem;

          &::before{
            display: none;
          }

          &::after{
            border-radius: 89rem;
          }

          &:hover::after{
            height: 100%;
            @include transition-ease
          }
        }
      }

      &.active{
        transform: translateX(0);
      }
    }

    &_burger{
      margin-right: 5rem;
      display: flex;
    }
  }
}