$primary-color: #272727;
$secondary-color: #6ACCB0;
$typography: 'Roboto';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@function set-text-color($color){
  @if(lightness($color) > 40%){
    @return $primary-color;
  }@else{
    @return #FFF;
  }
}

@mixin transition-ease {
  transition: all 0.7s ease-in-out;
}

@mixin media-md{
  @media screen and (max-width: 800px) {
    @content;
  }
}
