@include media-sm{
  .navR{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.9;

    &.open{
      visibility: visible;
    }
  }

  .nav_menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    list-style: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    @include transition-ease;

    &.open{
      transform: translateY(0);
    }

    &_item{
      transform: translateX(100vw);
      @include transition-ease;
      
      &.open{
        transform: translateX(0);
      }

      &.active > a{
        color: $secondary-color;
      }
    }
  }

  @for $i from 1 through 4{
    .menu-nav_item:nth-child(#{$i}){
      transition-delay: ($i * 0.1s) + 0.15s;
    }
  }

  .nav_btn{
    display: grid;
  }

  .nav_logo{
    width: 30vw;
  }
}

@include media-xs{
  .nav_logo{
    width: 40vw;
  }
}